{% extends 'core/base.html' %} 

{% block content %}
	<div id="loginPage">
		<h3>Please Log In</h3>
		<hr> 
		<form method="POST">
			{% csrf_token %}
			<div class="login-inputs">
				<input type="text" id="usernameBox" name="username" placeholder="Username" size="23" class="loginbox">
				<input type="password" id="passwordBox" name="password" placeholder="Password" size="23" class="loginbox">
			</div>
			<div class="login-buttons">
				<input type="submit" value="Login" class="btn btn-success">
				<a href="{% url 'core:create_new_user' %}" class="btn btn-primary">Make New Account</a>
			</div>
		</form>
		{% if error_message %}
			<span id="errorLI" class="errorMsg">{{ error_message }}</span>
		{% endif %}
	</div>
{% endblock %}