{% extends 'core/base.html' %}

{% block content %}
	<div>
		<h2>Please Log In</h2>
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						<label for="usernameBox">Username</label>
					</td>
					<td>
						<input type="text" id="usernameBox" name="username" placeholder="Username" size="23">
					</td>
				</tr>
				<tr>
					<td>
						<label for="passwordBox">Password</label>
					</td>
					<td>
						<input type="password" id="passwordBox" name="password" placeholder="Password" size="23">
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Login" id="loginButton"></td>
					<td><a href="{% url 'core:create_user' %}">Create New Account</a></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}
